@import url(fonts.css);
@import url(animations.css);

body {
    margin: 0px;
    height: fit-content;
    background-color: black;
}

@media (min-width: 1000px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 100px 100px;
        grid-template-areas: 
        "hd"
        "sc"
        "ft";
  
    }

    header {
        grid-area: 'hd';


    }

    header .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgb(139, 106, 78);
        height: 20%;
    }

    .navbar a img {
        height: 200px;
        margin-left: 30px;
        margin-bottom: -200px;  
    }

    .navbar ul {
        display: flex;
        list-style: none;
    }

    .navbar li {
        font-family: "itim";
        font-size: 2em;
        color: rgb(255, 255, 255);
        margin: 20px;
    }

    header .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px;
        color: beige;
        font-family: "varela-round";
        font-size: x-large;
    }

    header .parallax img {
        position: absolute;
        width: 100%;
    }

    section {
        grid-area: 'sc';
    }

    footer {
        height: 2fr;
        padding: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 20px 20px;
        grid-area: 'ft';
        position: relative;
        bottom: -2000px;
        background-color: rgb(57, 21, 0);
        color: azure;
        font-family: "varela-round";
    }

    footer .box h3 {
        padding-left: 40px;
    }

    footer .box a {
        color: blanchedalmond;
        text-decoration: none;
    }

    footer .box ul {
        list-style: none;  
    }

    footer .box li a:hover {
        color: #9c630e!important;
    }

    footer .box a img {
        padding-left: 10px;
        height: 30px;
    }

    footer .box a img:hover {
        filter: invert(33%) sepia(97%) saturate(432%) hue-rotate(357deg) brightness(103%) contrast(94%);
    }



}