/* Fonts */
@font-face {
    font-family: "botch";
    src: url(../assets/fonts/Botch.otf) format('opentype');
}

@font-face {
    font-family: "varela-round";
    src: url(../assets/fonts/VarelaRound-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "itim";
    src: url(../assets/fonts/Itim-Regular.ttf) format('truetype');
}

/*****************************************************************************/

